In [3]:
import pandas as pd

match_data = pd.read_csv('data/데이터 분석가_과제_Type A/match_data.csv')
test_data = pd.read_csv('data/데이터 분석가_과제_Type A/test_data.csv')

In [4]:
match_data.head()

,createdatekst,matchid,accountid,teamid,mmr,guildid,winstreak,losestreak,recentwinprob,accumatches,tier,itemid,matchresult,matchscore,isDrop,isEscape
0,2022-07-04 00:27:58,m00160017353d8e81,2097311063,1,1812,G69102,1,0,0.428571,7,gold,1364,0,25,1,0
1,2022-07-04 00:27:58,m00160017353d8e81,1560653129,1,1868,NaN,1,0,0.333333,9,gold,1178,0,35,0,0
2,2022-07-04 00:27:58,m00160017353d8e81,872694401,1,1809,G5900,0,2,0.200000,162,platinum,1385,0,39,0,0
3,2022-07-04 00:27:58,m00160017353d8e81,84538717,1,1631,G424,2,0,0.300000,11,bronze,1338,0,0,1,0
4,2022-07-04 00:27:58,m00160017353d8e81,142829,2,1973,NaN,0,3,0.500000,412,platinum,1277,1,41,0,0

In [5]:
test_data.head()

,createdatekst,matchid,accountid,teamid,mmr,guildid,winstreak,losestreak,recentwinprob,accumatches,tier,itemid
0,2022-07-11 06:25:33,040400175a90b8b2,16953108,1,1952,NaN,0,1,0.4,157,diamond,1277
1,2022-07-11 06:25:33,040400175a90b8b2,453207721,1,1976,G158588,3,0,0.4,307,diamond,1415
2,2022-07-11 06:25:33,040400175a90b8b2,1090662507,1,1952,NaN,0,1,0.5,34,diamond,1178
3,2022-07-11 06:25:33,040400175a90b8b2,688544966,1,1809,NaN,0,1,0.5,65,gold,1170
4,2022-07-11 06:25:33,040400175a90b8b2,268645401,2,1988,G150504,0,1,0.5,8,diamond,1401

In [ ]:
┌─────┬───────────────────────┬─────────────────────┬────────────┬───────┬──────┬─────┬─────────┬─────────┬─────────────┬───────────┬──────┬───────┬───────────┬─────────┬───────┬────────┐
│     │ createdatekst         │ matchid             │ accountid  │ teamid│ mmr  │guildid│winstreak│losestreak│recentwinprob│accumatches│ tier │itemid│matchresult│matchscore│isDrop│isEscape│
├─────┼───────────────────────┼─────────────────────┼────────────┼───────┼──────┼──────┼─────────┼─────────┼─────────────┼───────────┼──────┼───────┼───────────┼─────────┼───────┼────────┤
│ 0   │ 2022-07-04 00:27:58   │ m00160017353d8e81   │ 2097311063 │ 1     │ 1812 │G69102│ 1       │ 0       │ 0.428571    │ 7         │ gold │ 1364 │ 0         │ 25      │ 1     │ 0      │
│ 1   │ 2022-07-04 00:27:58   │ m00160017353d8e81   │ 1560653129 │ 1     │ 1868 │ NaN  │ 1       │ 0       │ 0.333333    │ 9         │ gold │ 1178 │ 0         │ 35      │ 0     │ 0      │
│ 2   │ 2022-07-04 00:27:58   │ m00160017353d8e81   │ 872694401  │ 1     │ 1809 │G5900 │ 0       │ 2       │ 0.200000    │ 162       │platinum│1385 │ 0         │ 39      │ 0     │ 0      │
│ 3   │ 2022-07-04 00:27:58   │ m00160017353d8e81   │ 84538717   │ 1     │ 1631 │G424  │ 2       │ 0       │ 0.300000    │ 11        │bronze │1338 │ 0         │ 0       │ 1     │ 0      │
│ 4   │ 2022-07-04 00:27:58   │ m00160017353d8e81   │ 142829     │ 2     │ 1973 │ NaN  │ 0       │ 3       │ 0.500000    │ 412       │platinum│1277 │ 1         │ 41      │ 0     │ 0      │
└─────┴───────────────────────┴─────────────────────┴────────────┴───────┴──────┴──────┴─────────┴─────────┴─────────────┴───────────┴──────┴───────┴───────────┴─────────┴───────┴────────┘

In [ ]:
┌─────┬───────────────────────┬─────────────────────┬────────────┬───────┬──────┬─────┬─────────┬─────────┬─────────────┬───────────┬──────┬───────┐
│     │ createdatekst         │ matchid             │ accountid  │ teamid│ mmr  │guildid│winstreak│losestreak│recentwinprob│accumatches│ tier │itemid│
├─────┼───────────────────────┼─────────────────────┼────────────┼───────┼──────┼──────┼─────────┼─────────┼─────────────┼───────────┼──────┼───────┤
│ 0   │ 2022-07-11 06:25:33   │ 040400175a90b8b2    │ 16953108   │ 1     │ 1952 │ NaN  │ 0       │ 1       │ 0.4         │ 157       │diamond│ 1277 │
│ 1   │ 2022-07-11 06:25:33   │ 040400175a90b8b2    │ 453207721  │ 1     │ 1976 │G158588│ 3       │ 0       │ 0.4         │ 307       │diamond│ 1415 │
│ 2   │ 2022-07-11 06:25:33   │ 040400175a90b8b2    │ 1090662507 │ 1     │ 1952 │ NaN  │ 0       │ 1       │ 0.5         │ 34        │diamond│ 1178 │
│ 3   │ 2022-07-11 06:25:33   │ 040400175a90b8b2    │ 688544966  │ 1     │ 1809 │ NaN  │ 0       │ 1       │ 0.5         │ 65        │ gold  │ 1170 │
│ 4   │ 2022-07-11 06:25:33   │ 040400175a90b8b2    │ 268645401  │ 2     │ 1988 │G150504│ 0       │ 1       │ 0.5         │ 8         │diamond│ 1401 │
└─────┴───────────────────────┴─────────────────────┴────────────┴───────┴──────┴──────┴─────────┴─────────┴─────────────┴───────────┴──────┴───────┘